@import "tailwindcss";

#root {
  max-width: 1512px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Poppins', sans-serif !important;
  z-index: 1000000;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  cursor: pointer;
}

.loginDiv {
  box-shadow: 1.5px 4px 10px rgba(189, 189, 189, 0.3);
}
